SECRET_KEY=change-me-to-a-long-random-string
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Postgres uchun (Railway'da avtomatik beriladi). Bo'sh qoldirilsa, sqlite ishlatiladi.
# DATABASE_URL=postgres://user:password@host:5432/dbname

# Frontend qaysi domendan so'rov yuborsa, o'shani shu yerga qo'shing
CORS_ALLOWED_ORIGINS=http://localhost:3000
